$blue: #2E8FF0;
$red: #EF7DA0;
$magenta: #F44682;
$green: #66BB6A;

$background-color: #FFFFFF;
$app-background-color: #EEF0F8;
$border-color: #EBEDF3;
$text-color: #3F4254;

$usertable-header-text-color: #A4A4B5;
$usertable-row-background-color: #F4F5F8;
$usertable-row-background-color--hover: #EFF0F4;

$textinput-field-color: #F3F6F9;

$text-color-white: #FFFFFF;