$border-radius: 6px;

$pd-1: 26px;
$pd-2: 22px;
$pd-3: 21px;
$pd-4: 8px;

$userlist-margin-top: 185px;
$userlist-margin-left: 46px;

$usertable-row-spacing: 2px;
$usertable-header-text-size: 13px;
$usertable-row-text-size: 13px;
$usertable-width: 1218px;