@import 'colors.scss';
@import 'dimens.scss';

$border-gray: 1px solid $border-color;
$shadow: 0px 0px 30px #523F690D;
$blue-shadow: 0px 5px 8px #2E8FF029;

@mixin card {
	background-color: $background-color;
	outline: $border-gray;
	border-radius: $border-radius;
	box-shadow: $shadow;
}