<div class="textinput">
	<label [ngClass]="type == 'email' ? 'textinput__label email' : 'textinput__label'">{{ label }}<span *ngIf="required">*</span></label>
	<input
		type="text"
		[formControl]="control"
		(blur)="onTouched()"
		[type]="type"

		[ngClass]="hasErrors ? 'textinput__field error' : 'textinput__field'"

		class="textinput__field"
		[formControl]="control"
		[attr.placeholder]="label"
		[disabled]="disabled"
	/>

	<!-- TODO Remove before deploy-->
	<div *ngIf="debug">
		<p>Touched: {{ control.touched }}</p>
	</div>
	<!-- TODO -->
</div>