.notification {
	top: 56px;
	left: 46px;
	position: fixed;

	padding: 16px;
	background-color: #EF7DA0;

	border-radius: 6px;

	box-shadow: 0 10px 15px #EF7DA05C;

	z-index: 9999;

	animation: fadeout 10s;
	animation-fill-mode: forwards;
}

@keyframes fadeout {
	0% { opacity: 1; }
	85% { opacity: 1; }
	100% { opacity: 0; }
}