<div class="userform__header">
	<span class="userform__header__text">Create new user</span>
	<div class="userform__header__close"></div>
</div>

<form
	[formGroup]="createUserForm"
	(ngSubmit)="onSubmit()"
	class="userform__form"
>

	<text-input
		id="id"
		name="id"
		formControlName="id"
		[label]="'Username'"
		mandatory
	/>
	<p *ngIf="!createUserForm.get('id')?.hasError('empty') && !(userWithIdError$ | async) as user">User already exists</p>
	<p *ngIf="controlEmpty('id')">Username should not be empty</p>

	<text-input
		id="first_name"
		name="first_name"
		formControlName="first_name"
		[label]="'First Name'"
		nameCharacters
		mandatory
	/>
	<p *ngIf="controlEmpty('first_name')">First Name should not be empty</p>
	<p *ngIf="controlNotEmptyHasError('first_name', 'hasWrongCharacters')">Incorrect characters in First Name</p>

	<text-input
		id="last_name"
		name="last_name"
		formControlName="last_name"
		[label]="'Last Name'"
		nameCharacters
		mandatory
	/>
	<p *ngIf="controlEmpty('last_name')">First Name should not be empty</p>
	<p *ngIf="controlNotEmptyHasError('last_name', 'hasWrongCharacters')">Incorrect characters in Last Name</p>

	<text-input
		id="email"
		name="email"
		formControlName="email"
		[label]="'Email'"
		email
		mandatory
	/>
	<p *ngIf="controlEmpty('email')">Email should not be empty</p>
	<p *ngIf="controlNotEmptyHasError('email', 'email')">Wrong Email Format</p>

	<!-- TODO Implement Dropdown -->

	<!--
		<label for="user_type">Type</label>
		<select id="user_type" name="user_type" formControlName="user_type" mandatory>
			<option value="ADMIN">ADMIN</option>
			<option value="DRIVER" [selected]="true">DRIVER</option>
		</select>
	-->

	<text-input
		id="password"
		name="password"
		formControlName="password"
		[label]="'Password'"
		passwordStrength
		mandatory
	/>
	<p *ngIf="createUserForm.get('password')?.hasError('insufficientPasswordLength')">Password must be at least 8 symbols long</p>
	<p *ngIf="createUserForm.get('password')?.hasError('doesntHaveNumeric')">Password should have at least one number</p>
	<p *ngIf="createUserForm.get('password')?.hasError('doesntHaveLetters')">Password should have at least one letter</p>

	<text-input
		id="password_repeat"
		name="password_repeat"
		formControlName="password_repeat"
		[label]="'Repeat password'"
		email
		mandatory
	/>
	<p *ngIf="createUserForm.get('password_repeat')?.touched && createUserForm.get('password')?.value != createUserForm.get('password_repeat')?.value">Passwords should be the same</p>
	<button type="submit">Create</button>
</form>