<div class="userform__header">
	<span class="userform__header__text">Create new user</span>
	<div class="userform__header__close"></div>
</div>

<form
	[formGroup]="createUserForm"
	(ngSubmit)="onSubmit()"
>
	<div class="userform__field">
		<text-input
			id="id"
			name="id"
			formControlName="id"
			[label]="'Username'"
			[type]="'text'"
			[required]="true"
			[hasErrors]="
				(!createUserForm.get('id')!.hasError('empty') && !(userWithIdError$ | async))
				|| controlEmpty('id')!
				"
			mandatory
		/>
		<p class="userform__field__error" *ngIf="!createUserForm.get('id')?.hasError('empty') && !(userWithIdError$ | async) as user">User already exists</p>
		<p class="userform__field__error" *ngIf="controlEmpty('id')">Username should not be empty</p>
	</div>

	<div class="userform__field">
		<text-input
			id="first_name"
			name="first_name"
			formControlName="first_name"
			[label]="'First Name'"
			[type]="'text'"
			[required]="true"
			[hasErrors]="hasErrors('first_name')"
			nameCharacters
			mandatory
		/>
		<p class="userform__field__error" *ngIf="controlEmpty('first_name')">First Name should not be empty</p>
		<p class="userform__field__error" *ngIf="controlNotEmptyHasError('first_name', 'hasWrongCharacters')">Incorrect characters in First Name</p>
	</div>
	
	
	<div class="userform__field">
		<text-input
			id="last_name"
			name="last_name"
			formControlName="last_name"
			[label]="'Last Name'"
			[type]="'text'"
			[required]="true"
			[hasErrors]="hasErrors('last_name')"
			nameCharacters
			mandatory
		/>
		<p class="userform__field__error" *ngIf="controlEmpty('last_name')">First Name should not be empty</p>
		<p class="userform__field__error" *ngIf="controlNotEmptyHasError('last_name', 'hasWrongCharacters')">Incorrect characters in Last Name</p>
	</div>

	<div class="userform__field">
		<text-input
			id="email"
			name="email"
			formControlName="email"
			[label]="'Email'"
			[type]="'email'"
			[required]="true"
			[hasErrors]="hasErrors('email')"
			email
			mandatory
		/>
		<p class="userform__field__error" *ngIf="controlEmpty('email')">Email should not be empty</p>
		<p class="userform__field__error" *ngIf="controlNotEmptyHasError('email', 'email')">Wrong Email Format</p>
	</div>

	<!-- TODO Implement Dropdown -->

	<!--
		<label for="user_type">Type</label>
		<select id="user_type" name="user_type" formControlName="user_type" mandatory>
			<option value="ADMIN">ADMIN</option>
			<option value="DRIVER" [selected]="true">DRIVER</option>
		</select>
	-->

	<div class="userform__field">
		<text-input
			id="password"
			name="password"
			formControlName="password"
			[label]="'Password'"
			[type]="'password'"
			[required]="true"
			[hasErrors]="hasErrors('password')"
			passwordStrength
			mandatory
		/>
		<p class="userform__field__error" *ngIf="controlEmpty('password')">Password should not be empty</p>
		<p class="userform__field__error" *ngIf="controlNotEmptyHasError('password', 'insufficientPasswordLength')">Password must be at least 8 symbols long</p>
		<p class="userform__field__error" *ngIf="controlNotEmptyHasError('password', 'doesntHaveNumeric')">Password should have at least one number</p>
		<p class="userform__field__error" *ngIf="controlNotEmptyHasError('password', 'doesntHaveLetters')">Password should have at least one letter</p>
	</div>

	<div class="userform__field">
		<text-input
			id="password_repeat"
			name="password_repeat"
			formControlName="password_repeat"
			[label]="'Repeat password'"
			[type]="'password'"
			[required]="true"
			[hasErrors]="hasErrors('password_repeat')"
			mandatory
		/>
		<p class="userform__field__error" *ngIf="createUserForm.get('password_repeat')?.touched && createUserForm.get('password')?.value != createUserForm.get('password_repeat')?.value">Passwords should be the same</p>
	</div>
	<button type="submit">Create</button>
</form>