@import '../../styles/colors.scss';
@import '../../styles/dimens.scss';
@import '../../styles/styles.scss';

:host {
	padding-bottom: $pd-8;
	display: inline-block;
	@include card;
}

.userstable {
	width: $usertable-width;

	border-spacing: 0 $usertable-row-spacing;

	&__header {
		color: $usertable-header-text-color;
		font-size: $usertable-header-text-size;
		font-weight: bold;
		text-transform: uppercase;
		text-align: left;

		& > th:first-child {
			padding-left: $pd-26;
		}

		& > th {
			box-sizing: border-box;
			padding: $pd-26 0 $pd-21 0;
			width: 243px;
		}
	}

	&__row {
		color: $text-color;
		font-size: $usertable-row-text-size;

		background-color: $usertable-row-background-color;
		transition: .3s background-color;

		cursor: pointer;

		&:hover {
			background-color: $usertable-row-background-color--hover;
		}

		& > td:first-child {
			padding-left: $pd-26;
		}

		& > td {
			padding: $pd-22 0 $pd-21 0;
		}
	}
}

