/* You can add global styles to this file, and also import other style files */

@import './app/styles/colors.scss';

* {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
	background-color: $app-background-color;
	padding: 0;
	width: 1920px;
	height: 1080px;
}